{% set fullpath = page.path ~ path %}

{% if width and height %}
    {% set rwidth = width %}
    {% set rheight = height %}
{% else %}
    {% set rwidth = 800 %}
    {% set rheight = 600 %}
{% endif %}

{% set image_path = resize_image(path=fullpath, width=rwidth, height=rheight, op = "fit") %}
<p>
    <a href="{{ path }}" target=”_blank”>
        <img src="{{ image_path.url }}" {% if alt %}alt="{{ alt }}"{% endif %} decoding="async" {% if not nolazy %}loading="lazy"{% endif %} width="100%" {% if width and height %}style="aspect-ratio: {{width}}/{{height}};"{% endif %}>
    </a>
</p>
