<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v21.0"></script>
<div style="display: flex; justify-content: center; align-items: center;">
    <div style="width: 500px;">
        <div class="fb-page" data-href="{{ url }}" data-tabs="timeline" data-width="500" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
            <blockquote cite="{{ url }}" class="fb-xfbml-parse-ignore">
                <a href="{{ url }}">Feuerwehr Effeltrich</a>
            </blockquote>
        </div>
    </div>
</div>