{# === NAV ===#}
{% macro nav() %}
{% for s in config.extra.navbar %}
{% set path = s ~ "/_index.md" %}
{% set subsection = get_section(path=path) %}<a href="{{ subsection.permalink }}"
    {% if current_path %}{% if current_path is starting_with(subsection.path) %}class="active"{% endif %}{% endif %}>
    {{subsection.title}}
</a>{% endfor %}
{% endmacro nav %}

{# === TAGS ===#}
{% macro tags(tags) %}
{% for tag in tags %}
<span class="tag">{{ tag }}</span>
{% endfor %}
{% endmacro tags %}

{# === FEED ===#}
{% macro feed(feed) %}
{# 'feed' must be defined by the template including this one #}
{% for article in feed %}
  <a href="{{ article.permalink }}" class="feed-link">
    <div>
      <div class="date">{{ article.date | date(format="%d.%m.%Y") }}</div>
      <h3>{{ article.title }}</h3>
      <p>
        {% if article.description %}
          {{ article.description | truncate(length=300)}}
        {% else %}
          {{ article.content | safe | striptags | truncate(length=300)}} {# TODO use truncate html when ready #}
        {% endif %}
      </p>
    </div>
  </a>
{% endfor %}
{% endmacro feed %}

{# === TUNCATE === #}
{# similar to https://docs.djangoproject.com/en/stable/ref/templates/builtins/#truncatechars-html #}
{# TODO implement this filter #}
{# see issue https://github.com/Keats/tera/issues/46 #}

{# === KATEX ===#}
{% macro katex() %}
<link rel="stylesheet" href="{{ get_url(path="katex.css") }}">
<script defer src="{{ get_url(path="katex.js")}}"></script>
<script defer src="{{ get_url(path="auto-render.js") }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            delimiters: [
              {left: "££", right: "££", display: true},
              {left: "$", right: "$", display: false},
            ]
        });
    });
</script>
{% endmacro katex %}

{# === PAGENAV ===#}
{% macro pagenav(paginator) %}
<div class="centerflex">
  <div class="gapped">
    <a class="button {% if not paginator.previous %}deactivated{% endif %}" href="{{ paginator.first }}">&lt;&lt;</a>
    <a class="button {% if not paginator.previous %}deactivated{% endif %}" href="{{ paginator.previous }}">&lt;</a>
  </div>
  <div>
    Seite {{ paginator.current_index }} von {{ paginator.number_pagers }}
  </div>
  <div class="gapped">
    <a class="button {% if not paginator.next %}deactivated{% endif %}" href="{{ paginator.next }}">&gt;</a>
    <a class="button {% if not paginator.next %}deactivated{% endif %}" href="{{ paginator.last }}">&gt;&gt;</a>
  </div>
</div>
{% endmacro pagenav %}